@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.eot');
    src: local('☺'), url('../fonts/FuturaPTHeavy.woff') format('woff'), url('../fonts/FuturaPTHeavy.ttf') format('truetype'), url('../fonts/FuturaPTHeavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplayRegular';
    src: url('../fonts/PlayfairDisplayRegular.eot');
    src: local('☺'), url('../fonts/PlayfairDisplayRegular.woff') format('woff'), url('../fonts/PlayfairDisplayRegular.ttf') format('truetype'), url('../fonts/PlayfairDisplayRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proximanova-regular';
    src: url('../fonts/proximanova-regular.eot');
    src: local('☺'), url('../fonts/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular.ttf') format('truetype'), url('../fonts/proximanova-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body{
	margin:0px;
	padding:0px;
    height:100%;
    background:#464f54;
    overflow-x: hidden;
}

/* -- ARTICLE BLOCK -- */

.paper{
    width:810px;
    margin: 18% auto -24px;
    padding:200px 125px 0;
    position: relative;
    background:#fff;
    box-shadow:0px 0px 32px rgba(0,0,0,0.3);
}
.paper:after{
    content:'';
    position:absolute;
    top:0px;
    left:75px;
    width:2px;
    height:100%;
    background: #e8eced;
    z-index:1;
}
.paper .author{
    font:400 20px/20px 'Proximanova-regular', sans-serif;
    letter-spacing: 2px;
    color:#b4b4b4;
    text-transform: uppercase;
}
.paper h1{
    font:400 78px/78px 'FuturaPTHeavy', serif;
    letter-spacing: 5px;
    color:#2a2a2a;
    text-transform: uppercase; 
    margin: 30px 0 10px;   
}
.paper .subheader{
    font:400 30px/30px 'Georgia', serif;
    font-style: italic;
    color:#8f8f8f;
}
.paper p{
    font:400 24px/42px 'Georgia', serif;
    color:#000;
    text-align: justify;
}

/* -- ARTICLE BLOCK END -- */

/* -- TOOLBAR FONT STYLE -- */

.toolbar-font-style{
    position:absolute;
    width:815px;
    height:76px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    top: 80px;
    right: -40px;
    background:#f7bd2c;
    z-index:2;
}
.toolbar-font-style ul{
    list-style-type:none;
    margin:0px;
    padding:13px 0 12px 34px;
    font-size: 0px;
}
.toolbar-font-style li{
    display: inline-block;
    vertical-align: top;
    padding:5px;
    width:40px;
    height:40px;
    opacity:0.7;
    box-shadow: none; 
}
.toolbar-font-style li:hover{
    opacity:1;
    background:#f7bd2c;
    box-shadow: inset 0px 0px 1px #fff;   
}

#fontColor{
    background:url(../img/font-ico_sprites.png) 3px 5px no-repeat;
}
#capitalize{
    background:url(../img/font-ico_sprites.png) -41px 3px no-repeat;
}
#addImage{
    background:url(../img/font-ico_sprites.png) -85px 3px no-repeat;
}
#bold{
    background:url(../img/font-ico_sprites.png) -129px 4px no-repeat;
}
#italic{
    background:url(../img/font-ico_sprites.png) -173px 4px no-repeat;
}
#underline{
    background:url(../img/font-ico_sprites.png) -217px 4px no-repeat;
}
#alignJustify{
    background:url(../img/font-ico_sprites.png) -261px 3px no-repeat;
}
#alignLeft{
    background:url(../img/font-ico_sprites.png) -305px 3px no-repeat;
}
#alignCenter{
    background:url(../img/font-ico_sprites.png) -349px 3px no-repeat;
}
#alignRight{
    background:url(../img/font-ico_sprites.png) -393px 3px no-repeat;
}

/* -- TOOLBAR FONT STYLE END -- */

/* -- TOOLBAR TITLE -- */

.toolbar-title{
    position:absolute;
    width:815px;
    height:76px;
    padding: 50px 0 50px 50px;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.3);
    top: -95px;
    right: -40px;
    background:#000;
    z-index:3;  
    overflow: hidden;
}

.toolbar-title form{
    border-bottom:3px solid #303030;
    position: relative;
}

.toolbar-title form:before{
    content:'Title';
    position:absolute;
    top:-10px;
    left:0px;
    font:400 15px/15px 'Proximanova-regular', sans-serif;
    color:#767676;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.toolbar-title input{
    font:400 48px/48px 'PlayfairDisplayRegular', serif;
    color:#fff;  
    background: none;
    border:none; 
    width:100%;
    max-width: 600px;
    overflow: hidden;
    padding: 10px 0;
}
.toolbar-title input:focus{
    outline:none;
}

/* -- TOOLBAR TITLE END -- */