@charset "UTF-8";
@font-face {
  font-family: 'Aleo-Regular';
  src: url("../fonts/Aleo-Regular.eot");
  src: local("☺"), url("../fonts/Aleo-Regular.woff") format("woff"), url("../fonts/Aleo-Regular.ttf") format("truetype"), url("../fonts/Aleo-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* -- GLOBAL RULES -- */
body {
  border: 15px solid #fff;
  font-family: sans-serif;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

h2 {
  font: 400 36px/46px 'Aleo-Regular'; }

p {
  font: 300 16px/26px 'Josefin Sans';
  text-align: justify;
  margin-bottom: 48px; }

a.button {
  display: block;
  width: 230px;
  margin-top: 42px;
  font: 400 16px/58px 'Aleo-Regular';
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #5474fd;
  color: #fff;
  text-decoration: none; }

.text-box {
  max-width: 490px;
  padding: 25px 25px 50px;
  background: rgba(35, 35, 35, 0.9); }
  .text-box h3 {
    font: 400 20px/26px 'Josefin Sans';
    text-transform: uppercase; }
    .text-box h3 span {
      display: block;
      margin: 24px 0;
      text-transform: capitalize; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

/* -- GLOBAL RULES END -- */
.section_content {
  max-width: 1110px;
  margin: auto; }

/* -- TOP MENU -- */
nav.top_menu {
  height: 20px;
  padding: 30px 0;
  background: #5474fd; }
  nav.top_menu .logo_menu {
    float: left;
    text-transform: uppercase;
    font: 600 24px/26px 'Josefin Sans';
    letter-spacing: 1.7px; }
  nav.top_menu ul {
    float: right; }
    nav.top_menu ul li {
      display: inline-block;
      vertical-align: top;
      margin: 0 18px;
      text-transform: uppercase;
      font: 400 14px/26px 'Josefin Sans'; }
      nav.top_menu ul li:last-child {
        margin-right: 0px; }
  nav.top_menu a {
    color: #fff;
    text-decoration: none; }
    nav.top_menu a:hover {
      color: #b4c2ff;
      text-decoration: underline; }

/* -- TOP MENU END -- */
/* -- SECTION INCLUDED BLOCKS -- */
section {
  /* -- WELCOME + SEARCH -- */
  /* -- WELCOME + SEARCH END -- */
  /* -- WHY CHOOSE US -- */
  /* -- WHY CHOOSE US END -- */
  /* -- THREE STEPS - ICONS -- */
  /* -- THREE STEPS - ICONS END -- */
  /* -- ABOUT SPAIN -- */
  /* -- ABOUT SPAIN END -- */
  /* -- TESTIMONIALS -- */
  /* -- TESTIMONIALS END -- */ }
  section.section_welcome {
    height: calc(100vh - 90px);
    background: url(../img/bg-header.jpg);
    background-size: cover;
    text-align: center; }
    section.section_welcome .welcome_words {
      padding-top: 30vh; }
      section.section_welcome .welcome_words h1 {
        font: 600 48px/48px 'Josefin Sans';
        text-transform: uppercase;
        letter-spacing: 3px; }
        section.section_welcome .welcome_words h1 span {
          display: block;
          font: 300 22px/32px 'Josefin Sans';
          letter-spacing: 5.9px;
          text-transform: initial; }
    section.section_welcome .search-form {
      background: #fff;
      border: 2px solid #fff;
      width: 642px;
      margin: 50px auto; }
    section.section_welcome .search-form input[type="search"] {
      width: 500px;
      text-align: center;
      font: 300 15px/54px 'Josefin Sans';
      border: 0px;
      color: #333;
      letter-spacing: 2px;
      vertical-align: top; }
    section.section_welcome .search-form button {
      background: #5474fd;
      border: 0px;
      text-transform: uppercase;
      font: 400 14px/56px 'Aleo';
      padding: 0 50px 0 30px;
      position: relative; }
      section.section_welcome .search-form button:hover {
        background: #4297d3; }
    section.section_welcome .search-form button:after {
      position: absolute;
      content: '';
      width: 23px;
      height: 23px;
      background: url("../img/ico_search.png") center no-repeat;
      top: 16px;
      right: 15px; }
    section.section_welcome .btn_scroll {
      display: block;
      width: 150px;
      margin: calc(15vh) auto 0;
      text-decoration: none;
      color: #fff;
      font: 300 14px/22px 'Josefin Sans';
      letter-spacing: 3px;
      position: relative; }
      section.section_welcome .btn_scroll:after {
        content: url(../img/arrow_scroll.png);
        position: absolute;
        left: calc(50% - 7px);
        bottom: -20px; }
  section.why_choose {
    padding: 120px 0 135px;
    background: url(../img/bg-why-choose.jpg);
    background-size: cover; }
    section.why_choose .text_block {
      float: left;
      width: 50%; }
      section.why_choose .text_block h2 {
        margin: 75px 0 55px; }
    section.why_choose .img_block {
      float: right;
      width: 50%;
      height: 100%;
      position: relative; }
      section.why_choose .img_block img {
        position: absolute; }
      section.why_choose .img_block .img_1 {
        top: 0px;
        left: 80px; }
      section.why_choose .img_block .img_2 {
        top: 225px;
        right: 0px; }
  section.three_steps {
    padding: 40px 0 110px;
    background: #333; }
    section.three_steps .step_1, section.three_steps .step_2, section.three_steps .step_3 {
      float: left;
      width: 33.3%;
      text-align: center;
      position: relative; }
      section.three_steps .step_1 img, section.three_steps .step_2 img, section.three_steps .step_3 img {
        display: block;
        margin: 55px auto 20px; }
      section.three_steps .step_1.step_1:after, section.three_steps .step_1.step_2:after, section.three_steps .step_2.step_1:after, section.three_steps .step_2.step_2:after, section.three_steps .step_3.step_1:after, section.three_steps .step_3.step_2:after {
        content: '';
        width: 310px;
        height: 65px;
        background: url(../img/ico_step_dots.png) center center no-repeat;
        position: absolute;
        z-index: 2;
        top: 0px;
        right: -150px; }
  section.spain_1 {
    padding: 230px 0 100px;
    background: url(../img/bg-spain-1.jpg);
    background-size: cover; }
  section.spain_2 {
    padding: 230px 0 100px;
    background: url(../img/bg-spain-2.jpg);
    background-size: cover; }
    section.spain_2 .text-box {
      float: right; }
  section.tourists {
    padding: 110px 0 200px;
    background: url(../img/bg-tourists.jpg);
    background-size: cover; }
    section.tourists h2 {
      text-align: center; }
    section.tourists .text-box {
      float: none;
      max-width: 100%;
      padding: 50px 35px 10px 500px;
      margin-top: 90px;
      background: url(../img/bg-tourist-text-box.jpg) left center no-repeat #333; }
      section.tourists .text-box blockquote {
        margin: 0px; }
      section.tourists .text-box p {
        margin: 35px 0;
        text-indent: 35px;
        position: relative; }
        section.tourists .text-box p:before {
          content: '\f10d';
          position: absolute;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 18px;
          color: #5474fd;
          top: -13px;
          left: -28px;
          z-index: 2; }
  section .section_content:after {
    content: '';
    display: block;
    clear: both; }

/* -- SECTION INCLUDED BLOCKS END -- */
/* -- FOOTER -- */
footer {
  background: #232323;
  padding: 120px 0 30px;
  text-align: center; }
  footer h3 {
    font: 600 26px/26px 'Josefin Sans';
    text-transform: uppercase;
    letter-spacing: 1px; }
    footer h3 span {
      display: block;
      margin: 5px 0;
      font: 400 16px/26px 'Josefin Sans';
      text-transform: capitalize;
      letter-spacing: 1.5px; }
  footer li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin: 20px 10px 10px; }
    footer li a {
      text-decoration: none;
      color: #fff; }
      footer li a:hover {
        color: #5474fd; }

/* -- FOOTER END -- */

/*# sourceMappingURL=style.css.map */
