@font-face {
	font-family: 'SegoeUI Bold';
	src: url('../fonts/segoeui-bold.eot');
	src: local('☺'), url('../fonts/segoeui-bold.woff') format('woff'), url('../fonts/segoeui-bold.ttf') format('truetype'), url('../fonts/segoeui-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI Regular';
	src: url('../fonts/segoeui-regular.eot');
	src: local('☺'), url('../fonts/segoeui-regular.woff') format('woff'), url('../fonts/segoeui-regular.ttf') format('truetype'), url('../fonts/segoeui-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

ul{
	list-style-type:none;
}

/* -- WELCOME BLOCK -- */
header{
	background:#23232e;
	color:#fff;
	padding:5vh 0;
}
header .logo{
	display:block;
	width:140px;
	height:140px;
	margin:0px auto;
	background:url("../img/header-logo.png") center no-repeat;
}
header h1{
	font:600 80px/50px 'SegoeUI Bold', Arial, sans-serif;
	text-transform:uppercase;
	padding:8vh 0;
	text-align:center;
}
header h1 span{
	display:block;
	width:100%;
	max-width:450px;
	margin:70px auto 0;
	font: 400 18px/30px 'SegoeUI Regular', Arial, sans-serif;
	text-transform:none;
}
.welcome-scroll{
	display:block;
	width:45px;
	height:45px;
	margin:0px auto;
	border:2px solid #fff;
	border-radius:25px;
	position: relative;
	color:#fff;
}
.welcome-scroll:before{
    content: "‹";
    position: absolute;
    z-index: 2;
    font-size: 30px;
    top: 6px;
    right: 20px;
    transform: rotate(270deg);
}
.welcome-scroll:hover, .welcome-scroll:visited {
	color:#fff;
	text-decoration: none;
}

/* -- WELCOME BLOCK END-- */

/* -- MAIN CONTENT -- */

main{
	background:url('../img/bg-main.jpg')center no-repeat;
	background-size: cover;
	color:#464b4f;
	padding:10vh 0;
	text-align:center;
}
main p{
	display:block;
	width:100%;
	max-width:860px;
	margin:0 auto 50px;
	font: 400 30px/42px 'SegoeUI Regular', Arial, sans-serif;
}
main h2{
	font:600 80px/50px 'SegoeUI Bold', Arial, sans-serif;
	text-transform:uppercase;
	padding:6vh 0;
	text-align:center;	
}
main li{
	display:inline-block;
	width:100%;
	max-width:300px;
	margin: 0 25px 0 0;
}
main li:last-child{
	margin: 0;
}
main li h3{
	font:600 18px/24px 'SegoeUI Bold', Arial, sans-serif;
	text-transform:uppercase;
	text-align:left;
}
main li p{
	font: 400 18px/30px 'SegoeUI Regular', Arial, sans-serif;
	color:#888a8b;
	text-align:justify;
	margin: 0;
}
/* -- MAIN CONTENT END -- */