@font-face {
font-family: "Lucida Sans";
src: url("../fonts/Lucida Grande Regular.eot");
src: 
url("../fonts/LucidaGrande.woff") format("woff"),
url("../fonts/LucidaGrande.otf") format("opentype"),
url("../fonts/LucidaGrande.svg#filename") format("svg");
}

html{
	margin:0px;
	padding:0px;
	background: #3399cc;
	border: 20px solid #2b81ac;
	height: 98%;
	min-height: 600px;
}
*{
	transition: all .1s ease-in;
}
.weather-block{
	width:700px;
	margin:0px auto;
	color:#fff;
}
.weather-block h1{
	font:28px/42px 'Lucida Sans', sans-serif;
}
.weather-block h1:after{
	font: 400 24px/28px 'weathericons';
	content:"\f051";
	margin:0 0 0 15px;
}
.weather-block ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size:0px;
	border: 2px solid #FFFFFF;
	background:#fff;
}
.weather-block li{
	display:inline-block;
	position:relative;
	vertical-align: top;
	font: 400 22px/36px 'Lucida Sans', sans-serif;
	text-align: center;
	cursor:help;
	width:25%;
	padding:20px 0;
	border:2px solid #fff;
	box-sizing: border-box;
}
.weather-block li span{
	display:block;
	font: 400 18px/36px 'Lucida Sans', sans-serif;
	position:relative;
	margin-right: 40px;
	opacity:0.9;
}
.weather-block li span:after{
	content:'°C';
	margin-left:-3px;
}
.weather-block li span .wi{
    position: absolute;
    font-size: 26px;
    top: 5px;
    margin-left: 25px;
}
.weather-block:hover li {
    opacity: 0.65;
}
.weather-block li:hover {
    opacity: 1;
}
.notice{
	font: 400 16px/56px 'Lucida Sans', sans-serif;
	cursor:default;
}

/* --- TILES SIZE ---*/

.weather-block .half{
	width:50%;
}
.weather-block .maxi{
	width:100%;
}

/* --- TILES SIZE END ---*/

/* --- TILES COLOR ---*/

.weather-block li:first-child{
    background: #3399CC;
}

.weather-block li:nth-child(2){
    background: #33CCCC;
}

.weather-block li:nth-child(3){
    background: #996699;
}

.weather-block li:nth-child(4){
    background-color: #C24747;
}

.weather-block li:nth-child(5){
    background: #E2674A;
}

.weather-block li:nth-child(6){
    background: #FFCC66;
}

.weather-block li:nth-child(7){
    background: #99CC99;
}

.weather-block li:nth-child(8){
    background: #669999;
}

.weather-block li:nth-child(9){
    background: #CC6699;
}

.weather-block li:nth-child(10){
    background: #339966;
}

.weather-block li:last-child{
    background: #666699;
}

/* --- TILES COLOR END ---*/