body {
  background: #545a5c;
  background-image: url("../img/bg-main.png");
  background-image: url("../img/bg-main.png"), linear-gradient(135deg, #545a5c 0%,#191d21 100%);
  background-repeat:no-repeat;
  background-position: right center;
}

.payment_form{
	position: absolute;
	top:5%;
	left: 0;
    right: 0;
    margin:auto;
	max-width:335px;
	background:#fff;
	z-index:5;
	font-family:'Montserrat', 'Helvetica', sans-serif;
}
.payment_form--header{
	background:#eee4a9;
	padding:10px 25px;
	color:#6e7f7b;

		h4{
			font-size:14px;
			font-weight:bold;
			margin: 10px 0px;
			float:left;

			span{
				display:block;
				font-size:9px;
				font-weight:normal;
				text-transform:uppercase;
				letter-spacing:1.2px;
			}
		}

		div{
			float:right;
			font-weight: 500;
			font-size:36px;
			letter-spacing:-1px;
			color:#637570;
		}

	&:after{
		content: '';
		display: block;
    	clear: both;
	};
}
.payment_form--inputs{
	background:#fff;
	padding:40px 20px 20px;

	label{
		display: block;
    	font-size: 12px;
    	color: #9eabad;
    	padding: 5px 0;
	}
	input, select{
		border:2px solid #b3c1c4;
		padding:8px;
		line-height:24px;
		margin-bottom:30px;
		color: #727f82;
	    font-size: 14px; 
	    font-weight: 700;
	}
	input,
	textarea,
	[contenteditable] {
  		caret-color: #eecc68;
	}
	input[name="creditCardNumber"]{
		width:290px;
	}
	select[name="Month"]{
		width:175px;
	}
	select[name="Year"]{
		width:95px;

		margin-left:15px;
	}
	input[name="cvv"]{
		width:95px;
		font-size: 20px;
	}	
	#cvv{
		position:relative;
	}
	#cvv span{
			content:'';
			position:absolute;
			top:38px;
			left:105px;

			a{
				text-decoration: none;
				color:#6e7f7b;
				border-bottom:1px solid #b3c1c4;
   				padding: 0 0 2px 0;

				&:hover{
					color:#26b167;
					border-bottom:1px solid #26b167;
				};
			}
	}
	hr{
		width:100%;
		height:1px;
		border:0px;
		background:#e3e7e8;
		margin:0 0 30px;

	}
	button{
		display: block;
		width:100%;
		background:#26b167;
		color:#fff;
		font-size:20px;
		font-weight:bold;
		line-height:50px;
		border:0px;

		&:hover{
			background:#1f9858;	
		};

	}

}