body{
	height:100%;
	background: url("../img/bg-desk.jpg") center no-repeat;
	background-size:cover;
}

/* -- CHECKERS DESK -- */

.checkers-desk{
	width: 800px;
	height: 800px;
	margin: 40px auto;
	background: url(../img/checkers-desk.jpg);
	background-size: cover;
	box-shadow: inset 0px 0px 0 40px rgba(0,0,0,0.6);
	padding: 40px;
	position:relative;
}
ul.checkers{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size: 0px;
	box-shadow: 0 0 45px 0 rgba(255,255,255, 0.5);
	clear:both;
}
.checkers li{
	background-color: rgba(255,255,255,0.5);
	background-image: url(../checkers-desk.jpg);
	float:left;
	vertical-align:top;
	position:relative;
	margin:0px;
	padding:0px;
	width:100px;
	height:100px;
}
.checkers li:nth-child(even){
	background:url(../img/bg-desk.jpg);
}

/* -- CHECKERS BACKGROUND ORDER -- */

.checkers li:nth-child(n+9):nth-child(-n+16):nth-child(odd),
.checkers li:nth-child(n+25):nth-child(-n+32):nth-child(odd),
.checkers li:nth-child(n+41):nth-child(-n+48):nth-child(odd),
.checkers li:nth-child(n+57):nth-child(-n+64):nth-child(odd)
{
	background:url(../img/bg-desk.jpg);
}

.checkers li:nth-child(n+9):nth-child(-n+16):nth-child(even),
.checkers li:nth-child(n+25):nth-child(-n+32):nth-child(even),
.checkers li:nth-child(n+41):nth-child(-n+48):nth-child(even),
.checkers li:nth-child(n+57):nth-child(-n+64):nth-child(even)
{
	background-color: rgba(255,255,255,0.5);
	background-image: url(../checkers-desk.jpg);
}

/* -- CHECKERS BACKGROUND ORDER END -- */

.numbers, .letters{
	position: absolute;
	list-style-type: none;
	margin:0px;
	padding:0px;
	font-size:0px;
	color: #f3c66f;
}
.letters li{
	display:inline-block;
	width:100px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.letters-top{
	top: 8px;
	transform: rotate(180deg);
	text-shadow: -3px -3px 3px rgba(0,0,0,1)
}
.letters-bottom{
	bottom: 8px;
	text-shadow: 3px 3px 3px rgba(0,0,0,1)
}
.numbers li{
	width:20px;
	height:100px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.numbers-left{
	left:10px;
	top: 77px;
	text-shadow: 3px 3px 3px rgba(0,0,0,1)
 }

.numbers-right{
	right:10px;
	top: 3px;
	transform: rotate(180deg);
	text-shadow: -3px -3px 3px rgba(0,0,0,1)
}

/* -- CHECKERS DESK END -- */

/* -- CHEKERS -- */

.figure{
	position:absolute;
	width:80px;
	height:80px;
	border-radius: 50%;
	z-index:3;
	background:#fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 2px 2px 10px #000;
}

.figure:after{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 5;
	box-shadow: 2px 2px 12px rgba(0,0,0,1);
}

.player1{
	background: #444444; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #444444 1%, #f4f4f4 12%, #444444 25%, #f4f4f4 38%, #444444 50%, #f4f4f4 66%, #444444 75%, #f4f4f4 88%, #444444 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #444444 1%,#f4f4f4 12%,#444444 25%,#f4f4f4 38%,#444444 50%,#f4f4f4 66%,#444444 75%,#f4f4f4 88%,#444444 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #444444 1%,#f4f4f4 12%,#444444 25%,#f4f4f4 38%,#444444 50%,#f4f4f4 66%,#444444 75%,#f4f4f4 88%,#444444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.player1:before{
	position: absolute;
	content: '\f069';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #e0b665;
    top: 34px;
    left: 34px;
    z-index: 10;
}

.player1:after{
	content: " ";
	color: #fff;
	background: #2d1f0e;
	border: 2px solid #deb974;
}

.player2{
	background: #654302; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #654302 0%, #f7c972 12%, #654302 25%, #f7c972 38%, #654302 50%, #f7c972 66%, #654302 75%, #f7c972 88%, #654302 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #654302 0%,#f7c972 12%,#654302 25%,#f7c972 38%,#654302 50%,#f7c972 66%,#654302 75%,#f7c972 88%,#654302 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #654302 0%,#f7c972 12%,#654302 25%,#f7c972 38%,#654302 50%,#f7c972 66%,#654302 75%,#f7c972 88%,#654302 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.player2:before{
    position: absolute;
    content: '\f520';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    color: #c0c0c0;
    top: 32px;
    left: 31px;
    z-index: 10;
}
.player2:after{
	content: " ";
	color: #fff;
	background: #2d1f0e;
	border: 2px solid #dcdcdc;
}

/* -- CHEKERS END -- */