@font-face {
	font-family: 'Conv_miso';
	src: url('../fonts/miso/miso.eot');
	src: local('☺'), url('../fonts/miso/miso.woff') format('woff'), url('../fonts/miso/miso.ttf') format('truetype'), url('../fonts/miso/miso.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_miso-bold';
	src: url('fonts/miso-bold/miso-bold.eot');
	src: local('☺'), url('../fonts/miso-bold/miso-bold.woff') format('woff'), url('../fonts/miso-bold/miso-bold.ttf') format('truetype'), url('../fonts/miso-bold/miso-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
background:#fdde7e;
}
.cups-proposition{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
	height: 100vh;
}
.cups-proposition div{
	width:360px;
	background:#fff;
	border-radius: 4px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	text-align: center;
	padding:35px 0;
}
.cups-proposition div.big{
	padding: 35px 0 65px;
}
.cups-proposition div h2{
	font:700 70px/70px 'Conv_miso-bold', sans-serif;
	color:#02995b;
	margin:0 0 15px;
}
.cups-proposition div.big h2{
	margin:40px 0 30px;
}
.cups-proposition div img{
	width:135px;
}
.cups-proposition div p{
	width:200px;
	margin: auto;
	font:400 32px/32px 'Conv_miso', sans-serif;
	color:#333333;
	margin:25px auto 0;
	color:#333;
}
.cups-proposition div p span{
	display:block;
	font:400 56px/55px 'Conv_miso', sans-serif;
	margin:0 0 15px;
}
