*{
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
body{
	width:100%;
	height:100vh;
	background: url("../img/bg-universe.jpg") center no-repeat;
	background-size:cover;
	font-family:sans-serif;
	position:relative;
}
body:after{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index:-1;
	background: -moz-linear-gradient(left, rgba(120,61,151,0.75) 0%, rgba(171,113,175,0.75) 100%);
	background: -webkit-linear-gradient(left, rgba(120,61,151,0.75) 0%,rgba(171,113,175,0.75) 100%);
	background: linear-gradient(to right, rgba(120,61,151,0.75) 0%,rgba(171,113,175,0.75) 100%);
}
.header-navigation{
	padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.header-navigation:after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.header-navigation__logo{
	float:left;
}

.header-navigation--menu-mobile{
	float: right;
	margin-left:30px;
}

.header-navigation--menu-main ul, 
.header-navigation--menu-mobile ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
}

.header-navigation--menu-main{
	float: right;
	padding: 7px 40px;
}

.header-navigation--menu-main li{
	display:inline-block;
	vertical-align:top;
	font:300 12px/14px 'Roboto';
	text-transform:uppercase;
	position:relative;
	margin:0 25px;
}
.header-navigation--menu-main li a{
	color:#fff;
	padding: 5px 0;
	text-decoration:none;
	border-bottom:none;
}
.header-navigation--menu-main li .current, .header-navigation--menu-main li a:hover{
	border-bottom:1px solid #fff;
}
.example{
    width: 280px;
    height: 280px;
    position: relative;
    background: #f4f3f4;
    border-radius: 50%;
    text-align: center;
    padding: 30px;
    margin: 100px auto 0;
}
.product-card{
	width:750px;
	display:none;
	background:#f4f3f4;
	margin:auto;
	position:absolute;
	top: -20px;
    left: -200px;
	font-size: 0px;
	box-shadow: -25px 0px 0px -11px rgba(255,255,255,0.3),
				25px 0px 0px -11px rgba(255,255,255,0.3),
				-47px 0px 0px -22px rgba(255,255,255,0.3),
				47px 0px 0px -22px rgba(255,255,255,0.3);
}
.example:hover .product-card{
	display:block;
}
.product-card__gallery, .product-card__toolbar{
	display:inline-block;
	vertical-align: top;
	padding:40px 30px;
}
.product-card__gallery{
	width:440px;
	height:310px;
	text-align:center;
	position:relative;
	overflow:hidden;
}
.product-card__gallery:after{
	content:'';
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: url(../img/bg-popup-product.png) top center no-repeat;
}
.product-card__gallery--slider{
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	width:500px;
	height:320px;
	background:url(../img/slider-sprite.png) 0px 0px no-repeat;
}
.product-card__gallery--slider nav{
	position:absolute;
	z-index:4;
    left: 0;
    right: 0;
    top: 320px;
}
.product-card__gallery--slider nav ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.product-card__gallery--slider nav li{
	display:inline-block;
	vertical-align:top;
	width:38px;
	height:38px;
	border:2px solid #fff;
	margin: 10px;
	cursor:pointer;
}

.product-card__gallery--slider nav li:hover .product-card__gallery--slider{
	background:url(../img/slider-sprite.png) 500px 0px no-repeat;
}
.product-card__gallery p{
	display: block;
    text-align: center;
    font: 900 74px/64px 'Roboto';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5pt;
    margin: 40px 0 0;
}
.product-card__gallery button[type="submit"]{
	display: block;
    position: absolute;
    z-index:9;
    right: 20px;
    top: 315px;
    width: 25px;
    height: 25px;
    font: 300 42px/42px 'Roboto';
    border: none;
    background: none;
}
.product-card__gallery button#WishListPlus{
	color:#000;
}
.product-card__gallery button#WishListPlus:hover{
	color:#a200b8;
}
.product-card__toolbar{	
	width:190px;
	background:#fff;
	color:#000;
	text-align: left;
}
.product-card__toolbar-label{
	display: inherit;
	padding:5px 7px;
	font:400 14px/14px "Roboto";
	color:#fff;
	text-transform:uppercase;
	background:#ffa60d;	
}
.product-card__toolbar p{
	font:400 26px/32px 'Roboto Condensed';
	margin: 10px 0;
	text-transform: uppercase;
}
.product-card__toolbar p span{
	color:#5e4fff;
}
.product-card__toolbar-huarache{
	font:600 13px/14px 'Roboto Condensed';
	color:#000;
}
.product-card__toolbar-huarache span{
	display: inline-block;
	width:10px;
	height:10px;
	position: relative;
	margin-right:1px;
}
.product-card__toolbar-huarache span:before{
	content:"\2605";
	position: absolute;
	font-size:14px;
}
.unrate{
	opacity:0.4;
}
.product-card__toolbar-price{
	position:relative;
	font:300 24px/24px 'Roboto Condensed';
	padding:0 0 0 20px;
	margin:15px 0;
}
.product-card__toolbar-price:before{
	position:absolute;
	content:'$';
	top: 0;
    left: 0;
}

/* -- PRODUCT SIZE CHOOSING -- */

.product-card__toolbar-sizes{
	font:400 12px/12px 'Roboto';
	position:relative;
}
.product-card__toolbar-sizes label{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 25px;
    text-align: center;
    margin: 5px 10px 0 0;
}
.product-card__toolbar-sizes input[type="radio"]{
    width: 100%;
    max-width: 25px;
    height: 25px;
}
.product-card__toolbar-sizes label span{
	position:absolute;
	top:0;
	left:0;
	font: 600 16px/26px 'Roboto Condensed';
	border:1px solid #fff;
	background: #fff;
	width:100%;
	height:100%;
	cursor: pointer;
}
.product-card__toolbar-sizes input[type="radio"]:checked ~ span {
       border: 1px solid #000;
}

/* -- PRODUCT SIZE CHOOSING END -- */

/* -- PRODUCT CHOOSING BUTTONS -- */

.product-card__toolbar-sizes button[type="submit"]{
	display: block;
    width: 120px;
    margin-top: 5px;
    text-transform: uppercase;
    font: 600 13px/26px 'Roboto Condensed';
    letter-spacing:0.5pt;
}

.product-card__toolbar-sizes button#AddToCart{
	color:#fff;
	background:#a200b8;
	border:none;
	margin-top:30px;
}

.product-card__toolbar-sizes button#WishList{
	border:1px solid #000;
	background: #fff;
}
.product-card__toolbar-sizes button#AddToCart:hover{
	background:#d600f3;
}
.product-card__toolbar-sizes button#WishList:hover{
	background:#ffa60d;
	color:#000;
}
/* -- PRODUCT CHOOSING BUTTONS END -- */

/* -- POPUP CLOSE BUTTON -- */

.product-card__close {
	position: absolute;
    top: 0;
    right: 10px;
    color: #b1b1b1;
    opacity: 0.5;
    z-index: 10;
    font-size: 35px;
    text-decoration: none;
}
.product-card__close:hover {
    opacity:1;
    color: #683e98;
}

/* -- POPUP CLOSE BUTTON END -- */