html{
	margin:0px;
	padding:0px;
}
.text-block{
	width:950px;
	padding:75px;
	margin:0px auto;
	background:#fff;
	box-shadow:0px 0px 50px rgba(0,0,0,0.2);
	color:#171717;
}
.text-block h1{
	font:400 36px/36px 'Playfair+Display', serif;
	margin:0px;
	letter-spacing: -1px;
}
.text-block p{
	text-align:justify;
	font:300 14px/28px 'Lato', sans-serif;
	margin: 25px 0;
}
.text-block .first-paragraph:first-letter{
    font: 400 96px/84px 'Playfair+Display', serif;
    float: left;
    margin: -2px 20px 0px 0px;
}
blockquote {
    margin: 0;
    padding: 30px 30px 30px 35px;
    position: relative;
    font: 300 20px/24px 'Lato', sans-serif;
    font-style: italic;
}
blockquote:before {
	content: "\201C";
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 5px;
    top: 20px;
    color: #171717;
    font-size: 60px;
}
.text-block a{
	display: block;
    font: 600 16px/16px 'Lato', sans-serif;
    color: #eaa258;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #eaa258;
    padding: 20px 50px;
    width: 100px;
    background:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;       
}
.text-block a:hover{
    color: #fff;
    background:#eaa258;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;   
}