body{
	background:#cecece;
	font:700 30px/30px 'Open Sans Condensed', sans-serif;
	color:rgba(255,255,522,1);
}
.g-col-12{width: calc(100% - 10px);}
.g-col-11{width: calc(92% - 10px);}
.g-col-10{width: calc(83% - 10px);}
.g-col-9{width: calc(75% - 10px);}
.g-col-8{width: calc(67% - 10px);}
.g-col-7{width: calc(58% - 10px);}
.g-col-6{width: calc(50% - 10px);}
.g-col-5{width: calc(42% - 10px); font-size:0.9em;}
.g-col-4{width: calc(33% - 6px);  font-size:0.8em;}
.g-col-3{width: calc(25% - 10px); font-size:0.7em;}
.g-col-2{width: calc(17% - 14px); font-size:0.6em;}
.g-col-1{width: calc(8% - 10px);  font-size:0.5em;}

.grid-container{
	max-width: 1190px;
	padding:5px;
	background:#fff;
	margin:auto;

	.grid-row > [class*="g-col-"]{
		float:left;
		text-align:center;
		margin:5px;
	}

	.grid-row:after{
		content:'';
		display:block;
		clear:both;
	}

	/* -- FIRST ROW -- */

	.grid-row:nth-child(1) > [class*="g-col-"]{
		height:120px;
		color:rgba(0,0,0,0.5);
		line-height:120px;
	}
	.grid-row:nth-child(1) > [class*="g-col-"]:nth-child(1){		
		background:#afdfbf;
	}	
	.grid-row:nth-child(1) > [class*="g-col-"]:nth-child(2){	
		background:#68c5b8;
	}

	/* -- FIRST ROW END -- */

	/* -- SECOND ROW -- */

	.grid-row:nth-child(2) > [class*="g-col-"]:nth-child(1){
		height:210px;
		line-height:210px;		
		background:#fa688a;
	}
	
	.grid-row:nth-child(2) > [class*="g-col-"]:nth-child(n+2):nth-child(-n+6)
	{
		height:100px;
		line-height:100px;
	}
	.grid-row:nth-child(2) > [class*="g-col-"]:nth-child(n+2):nth-child(-n+4)
	{
		background:#8a95ef;
	}
	.grid-row:nth-child(2) > [class*="g-col-"]:nth-child(n+5):nth-child(-n+6)
	{
		background:#ffc569;
		color:rgba(0,0,0,0.5);
	}

	/* -- SECOND ROW END -- */

	/* -- THIRD ROW -- */

	.grid-row:nth-child(3) > [class*="g-col-"]{
		height:130px;
		background:#588cc7;
		font-size:0.8em;
		line-height:130px;
	}

	/* -- THIRD ROW END-- */

	/* -- FOURTH ROW -- */

	.grid-row:nth-child(4) > [class*="g-col-"]{
		height:100px;
		background:#6652ad;
		line-height:100px;
	}

	/* -- FOURTH ROW END -- */

}
	
