*{
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
*:hover{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background:#eee;
	color:#303030;
}

/* -- TOP MENU + LOGO -- */

header{
	width:100%;
	max-width:1200px;
	margin:0px auto;
}
section{
	width:100%;
	max-width:1060px;	
}
 footer{
	width:100%;
	max-width:1200px;
	margin:0px auto;
}
.header-logo{
	width:100%;
	max-width:265px;
	display:inline-block;
	float:left;
	margin: 0px;
}
.top-menu-button{
	display:inline-block;
}
.top-menu-button button{
	border: 0px;
    margin: 20px 0 0 15px;
    background: none;
}
.top-menu-button button .fas{
	font-size: 18px;
}
nav{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	text-align:right;
	font:400 18px/18px 'Roboto', sans-serif;
	padding:45px 0;
}
nav a{
	display:inline-block;
	vertical-align:top;
	color:#303030;
	text-decoration:none;
	margin:0 20px;
	line-height: 60px;
}
nav a:hover{
	color:#e10011;
}

/* -- TOP MENU + LOGO END -- */

/* -- TOP BIG SLIDER -- */

.header-slider{
	width: 100%;
    max-width: 1200px;
    padding: 50px 0 80px;
    cursor: default;
    position: relative;
}
.slider-content{
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:620px;
	text-align:right;
}
.slider-img{
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:380px;
	margin-left:105px;	
}
.header-slider h1{
	font: 900 150px/150px 'Raleway', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}
.header-slider p{
	font:300 24px/36px 'Roboto', sans-serif;
	letter-spacing:1px;
}
.header-slider a, .header-slider a:hover, .header-slider a:visited{
	font:600 24px/36px 'Roboto', sans-serif;
	color:#e10011;
	letter-spacing:125%;
	text-decoration:none;
}
.dotstyle {
	text-align:center;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}
.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}
.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 3px;
	width: 12px;
	height: 12px;
	cursor: pointer;
}
.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background: #303030;
	text-indent: -999em;
	cursor: pointer;
	position: absolute;
}
.dotstyle li a:hover{
	background: #e10011;
}
.dotstyle li a.current{
	background: #e10011;
}

/* -- TOP BIG SLIDER END -- */

/* -- CONTENT WELCOME TEXT -- */

section{
    background: #fff;
    padding: 70px 70px 40px;
    margin: 80px auto;
    text-align: center;
    border-radius: 8px;
}
section h2, footer h2{
	font: 900 48px/48px 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin:40px 0 20px;
    text-align: center;
}

/* -- STAR CUTTER -- */

section .cutter{
	position:relative;
}
.holder {
    overflow: hidden;
    position: relative;
    width: 220px;
    height: 20px;
    margin:0px auto;
}
.holder:before{
	content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
}
.holder .far{
	position: absolute;
    left: 0;
    z-index: 3;
    width: 20px;
    height: 20px;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;

}
.smallLine {
    position: absolute;
    width: 220px;
    height: 5px;
    top:5px;
    z-index:1;
}
.smallLine1 {
    background: linear-gradient(45deg, transparent, transparent 49%, #303030 49%, transparent 51%);
}
.smallLine2 {
    background: linear-gradient(-45deg, transparent, transparent 49%, #303030 49%, transparent 51%);
}

.smallLine {
    background-size: 10px 10px;
}

/* -- STAR CUTTER END -- */

section p, footer p{
	display: block;
	width:100%;
	max-width:660px;
	margin:10px auto 30px;
	font: 400 18px/24px 'Raleway', sans-serif;
    letter-spacing: 2px;
     text-align: center;
}

/* -- CONTENT WELCOME TEXT END -- */

/* -- CONTENT TILES -- */

.tiles{
	list-style-type: none;
	margin:60px 0 0;
	padding:0px;
	font-size: 0px;
}
.tiles li{
	display:inline-block;
	vertical-align:top;
	width:31%;
	height:390px;
	border-radius:6px;
	margin:0 35px 35px 0;
	position:relative;
}
.tiles li.big{
	width:65%;
}
.tiles li:nth-child(2), .tiles li:nth-child(5){
	margin-right:0px;
}
.tiles li:nth-child(1){
	background:url(../img/tiles/tile1-speaker.png) center no-repeat;
	background-size:cover;
}
.tiles li:nth-child(2){
	background:url(../img/tiles/tile2-headphones.png) center no-repeat;
	background-size:cover;
}
.tiles li:nth-child(3){
	background:url(../img/tiles/tile3-fintess.png) center no-repeat;
	background-size:cover;
}
.tiles li:nth-child(4){
	background:url(../img/tiles/tile4-shoes.png) center no-repeat;
	background-size:cover;
}
.tiles li:nth-child(5){
	background:url(../img/tiles/tile5-chair.png) center no-repeat;
	background-size:cover;
}
.tiles li .info{
	opacity:0;
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	background:#e10011;
	border-radius:6px;
}
.tiles li .info p{
	font: 900 30px/32px 'Roboto', sans-serif;
    color: #fff;
    margin: 0px;
    padding: 260px 20px 0 30px;
    display: table-cell;
    text-align: left;
    letter-spacing: 0;
}
.tiles li .info p:after{
	content: '';
    width: 103px;
    height: 6px;
    position: absolute;
    bottom: 45px;
    left: 30px;
    z-index: 5;
    background: #fff;
}
.tiles li:hover > .info{
	opacity:1;
}

/* -- CONTENT TILES END -- */

/* -- FOOTER INPUT -- */

footer input{
    border-radius: 50px 0 0 50px;
}
footer input[type="email"]{
	border: 0px;
    font: 600 18px/18px "Raleway", sans-serif;
    font-style: italic;
    padding: 30px 30px 30px 65px;
    width:100%;
    max-width:390px;
}
.input-email{
	position:relative;
	width: 700px;
    margin: 25px auto;
    text-align: center;
}
.input-email span{
	position: absolute;
    top: 31px;
    left: 31px;
    font-size: 18px;
    color: #979797;
}
form.input-email button{
    border: 0px;
    margin-left: -4px;
    background: #e10011;
    color: #fff;
    font: 900 18px/32px 'Roboto', sans-serif;
    text-transform:uppercase;
    padding:25px 45px 25px 55px;
    border-radius: 0 50px 50px 0;
    cursor:pointer;
}
form.input-email button:hover{
	background:#b7000e;
}
footer input[type="email"]::-webkit-input-placeholder {
    color: #979797;
} 
footer input[type="email"]::-moz-placeholder {
    color: #979797;
}

/* -- FOOTER INPUT END -- */

/* -- FOOTER SOCIALS -- */

footer .socials{
    width: 100%;
    max-width: 400px;	
	margin:75px auto 65px;
	padding:0px;
	list-style-type: none;
}
footer .socials li{
	display: inline-block;
	vertical-align: top;
	margin:0 12px;
}
footer .socials li a{
	display:block;
	width:70px;
	height:70px;
	text-decoration: none;
	border-radius:50%;
	text-align:center;
}
footer .socials li .fab{
margin-top: 18px;
}
#facebook, #twitter, #youtube, #mealtoken{
	font-size:32px;
	color:#979797;
	background:#fff;
	-webkit-transition: none;
	-moz-transition: none;;
	-ms-transition: none;
	transition: none;
}
#facebook:hover, #twitter:hover, #youtube:hover{
	color:#fff;
	-webkit-transition: none;
	-moz-transition: none;;
	-ms-transition: none;
	transition: none;	
}
#mealtoken{
	background:url(../img/socials/icon-mealtoken.png) center no-repeat, #fff;
}
#facebook:hover{
	background:#3b5998;
}
#twitter:hover{
	background:#1DA1F2;
}
#youtube:hover{
	background:#cc181e;
}
#mealtoken:hover{
	background: url(../img/socials/icon-mealtoken-active.png) center no-repeat, #85764e;
	background: url(../img/socials/icon-mealtoken-active.png) center no-repeat, -moz-linear-gradient(left, #85764e 0%, #85764e 50%, #ae8a17 50%, #ae8a17 100%);
	background: url(../img/socials/icon-mealtoken-active.png) center no-repeat, -webkit-linear-gradient(left, #85764e 0%,#85764e 50%,#ae8a17 50%,#ae8a17 100%);
	background: url(../img/socials/icon-mealtoken-active.png) center no-repeat, linear-gradient(to right, #85764e 0%,#85764e 50%,#ae8a17 50%,#ae8a17 100%);
}

/* -- FOOTER SOCIALS END -- */

/* -- COPYRIGHTS -- */

.copyrights{
	width:100%;
	text-align:center;
	font:400 18px/20px "Raleway", sans-serif;
	color:#979797;
	margin: 20px 0;
}
.copyrights a{
	text-decoration:none;
	color:#303030;
}
.copyrights a:hover{
	color:#e10011;
}

/* -- COPYRIGHTS END -- */