html{
	margin:0px;
	padding:0px;
}
body{
	background: #f1f1f1;
}

/* -- SEARCH FORM -- */
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
	padding: 10px;
    font-size: 96px;
    float: left;
    width: 790px;
    border: none;
    color:#ec5a62;
    background: #f1f1f1;
    font-weight: 600;
}

   input[type="text"]::-webkit-input-placeholder {
    color: #c2c2c2;
   } 
   input[type="text"]::-moz-placeholder {
    color: #c2c2c2;
   }

/* Style the submit button */
form.example button {
    color: #c2c2c2;
    width: 90px;
    cursor: pointer;
    background: #f1f1f1;
    border: none;
    margin:20px 0 0;
}

form.example button:hover {
  background: #ec5a62;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* -- SEARCH FORM END -- */

.btn-container{
	width: 900px;
    margin: auto;
}
.contacts-box{
	display:inline-block;
	vertical-align: top;
	color:#c2c2c2;
}
.center-column{
	margin:0 40px;
}
.contacts-box h2{
	font:600 16px/18px "Arial", sans-serif;
	text-transform: uppercase;
	margin:20px 0;
	cursor:default;
}
.contacts-box ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
.contacts-box li{
	width:270px;
	background:rgba(118,117,128,0.05);
	padding:8px;
	border-radius: 4px;
	margin: 0px 0px 4px 0;
	font: 600 12px/14px "Arial", sans-serif;
}
.contacts-box img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.people img{
	border-radius: 25px;
}
.contacts-box li a{
	display: inline-block;
	width:195px;
	vertical-align: middle;
	text-decoration:none;
	color:#c2c2c2;
}
.contacts-box li:hover{
	background:rgba(118,117,128,0.1);
}
.contacts-box li a:hover{
	color:#ec5a62;	
}
.btn-container .contacts-box:last-child{
	margin:0px;
}