html{
	margin:0px;
	padding:0px;
	background: #3b3f45;
	border: 20px solid #fff;
}
body{
	margin:0px;
}
header{
	background:#4a4f56;
	color:#eb7e7c;
	text-align:center;
	padding:20px 0;
}
header h1{
	margin:0px;
	font:600 38px/48px 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	cursor:cell;
}
header h1 span{
	display: block;
	font:400 24px/34px 'Trebuchet MS', Trebuchet, Arial, sans-serif;
}
section{
	padding:40px;
}
#list{
	margin:0px auto;
	padding:0px;
	list-style-type: none;
	width:100%;
	max-width:800px;
	height:390px;
}
#list li{
  	display: block;
  	position: relative;
   	cursor: pointer;	
	margin:0px;
	width:100%;
	background:#88839e;
	font:400 28px/28px 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	color:#fff;  
}
#list li:nth-child(2n){
	background:#7a7593;
}
.description{
	display:inline-block;
	margin-left:10px;	
	font:400 16px/24px 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	color:#c0cbd6;
    position: absolute;
    top: 24px;	
}
.description:before{
	content:'(';
}
.description:after{
	content:')';
}
#list .li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.bon{
	width:100%;
	max-width:800px;
	background:#4a4f56;
	color:#eb7e7c;	
	margin:40px auto 60px;
	font:400 26px/62px 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	text-align: center;
	cursor:default;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding: 20px 20px 15px 60px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 21px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #f5f5f5;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container .checkmark:after ~ .container{
	text-decoration: line-through;
}
#list li:hover {
    background: #625e77;
    border-top:3px solid #fff;
    border-bottom:3px solid #fff;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	transition: all .1s ease-in;    
}
#list li:active, #list li:nth-child(2n):active {
    background: #ab7678;
}

input:checked ~ .description, input:checked ~ .main-text{
    text-decoration: line-through;
}
