body{
background: #ff512f;
background: -moz-linear-gradient(45deg, #ff512f 0%, #dd2476 100%);
background: -webkit-linear-gradient(45deg, #ff512f 0%,#dd2476 100%);
background: linear-gradient(45deg, #ff512f 0%,#dd2476 100%);
}

.daily_form{
	position: absolute;
	top:15%;
	left: 0;
    right: 0;
    margin:auto;
	max-width:460px;
	padding:30px;
	background:#fff;
	box-shadow:0 0 5px rgba(0,0,0,0.6);
	z-index:5;
	font-family:'Arial', 'Helvetica', sans-serif;

		h3:before{
			content:url(../img/icon_header_key.svg);
			margin-right:5px;
		}
	
		h3{
			color:#1b1c1d;
			font-weight: bold;
			font-size: 24px;
			line-height:26px;
			margin:0px;
			padding:0px;
		}

		p{
			color:#7a7b7f;
			font-weight: 400;
			font-size: 13px;
			line-height:20px;
			margin:15px 0;
		}

		a{
			color:#ea355a;
			text-decoration:none;
			
				&:hover{
					text-decoration:underline;
				}
		}

		input {
 			line-height: normal;
    		border: none;
    		background: #f0f0f0;
    		padding: 15px;
    		margin:0 0 16px 0;
    		width:100%;

    		&[type=text]{
    			width:193px;
    		}

    		&:nth-child(2){
    			float:right;
    		}
		
		}

		button{
			display: block;
    		width: 100%;
    		background: #ea355a;
    		text-align: center;
    		font-size: 18px;
    		line-height: 50px;
    		font-weight: bold;
    		color:#fff;
    		border:0px;
    		border-bottom:3px solid #bd1962;

    			&:hover{
					background:#de1870;
				}
		}
}
.daily_form, 
.daily_form input,
.daily_form button{
				border-radius:4px;
		}